.mealItemForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mealItemForm button {
  background-color: #a84448;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  margin-top: 0.5rem;
  border-radius: 25px;
  border: none;
}
