.headerCartButton {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #6a2c70;
  color: white;
  padding: 0.5rem 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}
.headerCartButton:hover,
.headerCartButton:active {
  background-color: #2c0d00;
}

.headerCartButton svg {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.headerCartButton-counter {
  background-color: #f08a5d;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}
